@charset "UTF-8";
/* @settings

name: DUNE-mermaid
id: mermaid-joval-theme
settings:
  -
    id: mer-diagram-shapes1
    title: Shapes-1
    title.de: Formen-1
    type: heading
    level: 1
    collapsed: true 
  -
    id: mer-rect-1
    title: Rectangle
    title.de: Rechteck
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#add8e6'
    default-dark: '#add8e6' 
  -
    id: mer-rect-2
    title: Rectangle 2
    title.de: Rechteck 2
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#ADD8E6'
    default-dark: '#6EDBFF' 
  -
    id: mer-rect-entity
    title: Rectangle Entity
    title.de: Einheiten-Rechteck
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#C8DFF7'
    default-dark: '#2c455f'
  -
    id: mer-rect-base
    title: Basic Rectangle
    title.de: Einfaches Rechteck
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#d3d3d3'
    default-dark: '#696969' 
  -
    id: mer-clust-rect
    title: Cluster Rectangle
    title.de: Gruppen Rechteck
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#9D9D9D3B'
    default-dark: '#5656563B'    
  -
    id: mer-clust-rect-2
    title: Diagram cluster rectangle
    title.de: Diagrammgruppe Rechteck
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#88867b33'
    default-dark: '#88867b33'   
  -
    id: mer-rect-note
    title: Rectangle Note
    title.de: Rechteck Notiz
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#d3d3d3'
    default-dark: '#88867bcc'    
  -
    id: mer-poly-1
    title: Polygon
    title.de: Polygon
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#7ba8d2'
    default-dark: '#667ab1' 
  -
    id: mer-circle-1
    title: Circle
    title.de: Kreis
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#B1CEE4'
    default-dark: '#7DA6C2'
  -
    id: mer-actor0
    title: Actor
    title.de: Akteur
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#ff4c4c'
    default-dark: '#ff4c4c' 
  -
    id: mer-poly-start
    title: Start point
    title.de: Startpunkt
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#6495ed'
    default-dark: '#6495ed' 
  -
    id: mer-poly-end
    title: End point
    title.de: Endpunkt
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#ff0000'
    default-dark: '#ff0000'
  -
    id: mer-stat-rect
    title: State Diagram Rectangle
    title.de: Status Diagramm Rechteck
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#E2D872'
    default-dark: '#a3982b' 
  -
    id: mer-diagram-shapes2
    title: Shapes-2
    title.de: Formen-2
    type: heading
    level: 1
    collapsed: true 
  - 
    id: color-blue
    title: Default blue
    title.de: Standard Blau
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#7fadff'
    default-dark: '#678ed3'
  - 
    id: color-cyan
    title: Default cyan
    title.de: Standard Cyan
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#64e5ff'
    default-dark: '#55c1d6'
  - 
    id: color-green
    title: Default green
    title.de: Standard Grün
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#5bbe49'
    default-dark: '#228b22'
  - 
    id: color-yellow
    title: Default yellow
    title.de: Standard Gelb
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#ffc800'
    default-dark: '#dbac01'
  - 
    id: color-orange
    title: Default orange
    title.de: Standard Orange
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#ff9900'
    default-dark: '#e68a00'
  - 
    id: color-pink
    title: Default pink
    title.de: Standard Rosa
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#ff9999'
    default-dark: '#d18080'
  - 
    id: color-red
    title: Default red
    title.de: Standard Rot
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#e73737'
    default-dark: '#b92b2b'
  - 
    id: color-purple
    title: Default purple
    title.de: Standard Purpur
    type: variable-themed-color
    format: rgb
    opacity: true
    default-light: '#ae5cff'
    default-dark: '#8e4cd1'
  -
    id: mer-diagram-boxes
    title: Boxes
    title.de: Felder
    type: heading
    level: 1
    collapsed: true 
  -
    id: mer-req-box
    title: Requirements
    title.de: Voraussetzungen
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#C5C5C5'
    default-dark: '#7395B9'
  -
    id: label-bg-col
    title: Labels
    title.de: Etiketten
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#C5C5C5'
    default-dark: '#3a5b7f'  
  -
    id: mer-labl-box
    title: Labels 2
    title.de: Etiketten 2
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#d3d3d3'
    default-dark: '#406285'
  -
    id: mer-attr-bx-o
    title: Attributes odd
    title.de: Attribute ungleiche Felder
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#BABABA'
    default-dark: '#656f85'    
  -
    id: mer-attr-bx-e
    title: Attributes even
    title.de: Attribute gleiche Felder
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#DFDFDF'
    default-dark: '#708090'   
  -
    id: mer-rel-box
    title: Relationships
    title.de: Verhältnisse
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#fab247'
    default-dark: '#98671e'   
  -
    id: mer-diagram-text
    title: Text
    title.de: Text
    type: heading
    level: 1
    collapsed: true 
  -
    id: mer-text
    title: Main text
    title.de: Haupttext
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#000000'
    default-dark: '#FFFFFF'
  -
    id: mer-req-title
    title: Requirement Title
    title.de: Voraussetzungen Titel
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#000000'
    default-dark: '#FFFFFF'
  -
    id: mer-label-txt
    title: Label text
    title.de: Etiketten Text
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#000000'
    default-dark: '#FFFFFF'
  -
    id: mer-task-text
    title: Task text
    title.de: Aufgabentext
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#000000'
    default-dark: '#FFFFFF' 
  -
    id: mer-task-text2
    title: Task text 2
    title.de: Aufgabentext 2
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#000000'
    default-dark: '#FFFFFF' 
  -
    id: mer-excl-range
    title: Exclude range
    title.de: Bereichsbegrenzung
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#708090'
    default-dark: '#708090'
  -
    id: mer-legd-txt
    title: Legend Text
    title.de: Legenden Text
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#676767'
    default-dark: '#ffffff'
  -
    id: mer-loop-txt
    title: Loop text
    title.de: Kreislauf Text
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#b1361b'
    default-dark: '#b1361b'
  -
    id: mer-mer-div
    title: Divider
    title.de: Trennzeichen
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#000000'
    default-dark: '#FFFFFF'
  -
    id: mer-diagram-conn
    title: Connections
    title.de: Verbindungen
    type: heading
    level: 1
    collapsed: true 
  -
    id: mer-node-pt
    title: Node path
    title.de: Knotenpfad
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#d3d3d3'
    default-dark: '#708090' 
  -
    id: mer-fork-jn
    title: Fork join
    title.de: Verbindung
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#8DBEEF'
    default-dark: '#8DBEEF'
  -
    id: mer-node-lbl
    title: Node Label
    title.de: Knotenetikett
    type: variable-themed-color
    format: hex
    opacity: false
    default-light: '#000000'
    default-dark: '#000000'
*/


.theme-light {
  --text-normal: #433721;
  --mer-text: #000000;
  --mer-rect-1: #add8e6;
  --mer-rect-base: #d3d3d3;
  --mer-rect-2: #ADD8E6;
  --mer-poly-1: #7ba8d2;
  --mer-poly-start: #6495ed;
  --mer-poly-end: #ff0000;
  --mer-circle-1: #B1CEE4;
  --mer-clust-rect: #9D9D9D3B;
  --mer-rect-entity: #C8DFF7;
  --mer-clust-rect-2: #88867b33;
  --mer-req-box: #C5C5C5;
  --mer-labl-box: #dedede;
  --mer-stat-rect: #E2D872;
  --mer-rect-note: #d3d3d3;
  --mer-attr-bx-o: #BABABA;
  --mer-attr-bx-e: #DFDFDF;

  --mer-node-pt: #d3d3d3;
  --mer-fork-jn: #8DBEEF;
  --mer-node-lbl: #000000;

  --mer-rel-box: #fab247;
  --label-bg-col: #C5C5C5;
  --mer-task-text: #8B0000;
  --mer-task-text2: #000000;
  --mer-label-txt: #000000;
  --mer-excl-range: #708090;
  --mer-legd-txt: #676767;
  --mer-loop-txt: #b1361b;
  --mer-req-title: #000000;
  --mer-mer-div: #000000;
  --mer-actor0: #ff4c4c;

  --color-blue: #7fadff;
  --color-cyan: #64e5ff;
  --color-green: #5bbe49;
  --color-yellow: #ffc800;
  --color-orange: #ff9900;
  --color-pink: #ff9999;
  --color-red: #e73737;
  --color-purple: #ae5cff;

  --persons-bg: rgba(0, 0, 0, 0.04)
}

.theme-dark {
  --text-normal: #f3f2e9;
  --mer-text: #FFFFFF;
  --mer-rect-1: #add8e6;
  --mer-rect-base: #696969;
  --mer-rect-2: #6EDBFF;
  --mer-poly-1: #667ab1;
  --mer-poly-start: #6495ed;
  --mer-poly-end: #ff0000;
  --mer-circle-1: #7DA6C2;
  --mer-clust-rect: #5656563B;
  --mer-rect-entity: #2c455f;
  --mer-clust-rect-2: #88867b33;
  --mer-req-box: #5D7FA1;
  --mer-labl-box: #406285;
  --mer-stat-rect: #d0c12f;
  --mer-rect-note: #88867bcc;
  --mer-attr-bx-o: #656f85;
  --mer-attr-bx-e: #708090;

  --mer-node-pt: #708090;
  --mer-fork-jn: #8DBEEF;
  --mer-node-lbl: #000000;

  --mer-rel-box: #98671e;
  --label-bg-col: #3a5b7f;
  --mer-task-text: #8B0000;
  --mer-task-text2: #FFFFFF;
  --mer-label-txt: #000000;
  --mer-excl-range: #708090;
  --mer-legd-txt: #ffffff;
  --mer-loop-txt: #b1361b;
  --mer-req-title: #FFFFFF;
  --mer-mer-div: #FFFFFF;
  --mer-actor0: #ff4c4c;

  --color-blue: #678ed3;
  --color-cyan: #55c1d6;
  --color-green: #228b22;
  --color-yellow: #dbac01;
  --color-orange: #e68a00;
  --color-pink: #d18080;
  --color-red: #b92b2b;
  --color-purple: #8e4cd1;

  --persons-bg: rgba(255, 255, 255, 0.04);
}


/* Mermaid theme */
.mermaid line.loopLine {
  filter: invert(1) !important;
}

.mermaid path.pieCircle {
  stroke: transparent !important;
}

.mermaid g .person-man {
  filter: brightness(2.5);
}

.mermaid g>g>circle {
  fill: var(--color-blue) !important;
}

.mermaid .node path {
  fill: var(--mer-node-pt) !important;
}

.mermaid text :not(.tag-label, tspan) {
  fill: var(--mer-text) !important;
}

.mermaid text.pieTitleText {
  font-size: revert !important;
}

.mermaid text.titleText {
  fill: var(--text-normal) !important;
}

.mermaid text:is(.taskTextOutsideRight, .taskTextOutsideLeft) {
  fill: var(--mer-task-text2) !important;
}

.mermaid .legend text {
  fill: var(--mer-legd-txt) !important;
}

/* .theme-dark .mermaid text.legend, */
.theme-dark .mermaid tspan.row,
.theme-dark .mermaid tspan .node-bkg.node-undefined {
  filter: invert(1);
}

.theme-dark .mermaid .quadrant rect {
  filter: saturate(0) brightness(.6) !important;
}

.theme-light .mermaid .quadrant rect {
  filter: saturate(0) brightness(.9) !important;
}

.theme-dark .mermaid g.border {
  filter: invert(1);
}

.theme-light .mermaid g.border {
  filter: brightness(0.5);
}

.theme-light .mermaid .person-man rect,
.theme-light .mermaid .person-man path {
  filter: brightness(2);
}

.theme-light .mermaid g.actor-man {
  filter: brightness(0.5);
}

.theme-dark .mermaid g.actor-man {
  filter: brightness(4);
}

/* .theme-dark .mermaid tspan {
  fill: black;
} */

.theme-dark .mermaid rect.req.reqBox {
  fill: var(--mer-req-box) !important;
}

.mermaid rect.note {
  fill: var(--mer-rect-note) !important;
}

.mermaid rect.er.attributeBoxOdd {
  fill: var(--mer-attr-bx-o) !important;
}

.mermaid rect.er.attributeBoxEven {
  fill: var(--mer-attr-bx-e) !important;
}

.mermaid rect.activation0 {
  fill: var(--mer-poly-1) !important;
}

.mermaid rect :not(.task) {
  fill: var(--mer-rect-2) !important;
}

.mermaid rect.er.entityBox {
  fill: var(--mer-rect-entity) !important;
}

.mermaid .node rect {
  fill: var(--mer-rect-base) !important;
}

.mermaid .cluster rect {
  fill: var(--mer-clust-rect) !important;
}

.mermaid .statediagram-cluster rect {
  fill: var(--mer-clust-rect-2) !important;
}

.mermaid .statediagram-note rect {
  fill: var(--mer-stat-rect) !important;
}

.mermaid :is(rect.req.reqBox, rect.actor) {
  fill: var(--mer-req-box) !important;
  stroke: gray !important;
}

.mermaid polygon.label-container {
  fill: var(--mer-poly-1) !important;
}

.mermaid polygon.state-start,
.mermaid .node circle.state-start {
  fill: var(--mer-poly-start) !important;
}

.mermaid polygon.state-end,
.mermaid .node circle.state-end {
  fill: var(--mer-poly-end) !important;
}

.mermaid circle {
  fill: var(--mer-circle-1) !important;
}

.mermaid circle.pieOuterCircle {
  stroke: transparent !important;
}

.mermaid .node .fork-join {
  fill: var(--mer-fork-jn) !important;
  stroke: gray;
}

.mermaid .node .label {
  color: var(--mer-node-lbl) !important;
}

.mermaid .edgeLabel,
.mermaid .label text,
.mermaid span {
  color: var(--mer-label-txt) !important;
}

.mermaid :not(span.nodeLabel) :is(.cluster span) {
  color: var(--text-normal) !important;
}

.mermaid .loopText>tspan {
  fill: var(--mer-loop-txt) !important;
}

.mermaid .exclude-range {
  fill: var(--mer-excl-range) !important;
}

.mermaid .label {
  background: var(--label-bg-col) !important;
}

.mermaid .edgeLabel {
  color: var(--text-normal) !important;
}

.mermaid .taskText {
  fill: var(--mer-task-text) !important;
}

.mermaid .labelBox {
  fill: var(--mer-labl-box) !important;
}

.mermaid .req-title-line {
  stroke: var(--mer-req-title) !important;
}

.mermaid .divider {
  stroke: var(--mer-mer-div) !important;
}

.mermaid .nodeLabel {
  color: var(--text-normal) !important;
  border-radius: 4px;
}

.theme-light .mermaid .relation {
  filter: contrast(0.9) brightness(0.1);
}

.theme-dark .mermaid .relation {
  filter: contrast(0.2) brightness(0.1) !important;
}

.theme-dark .mermaid .messageLine0,
.theme-dark .mermaid .messageLine1 {
  filter: contrast(0.2) brightness(1.8) !important;
}

.theme-dark .mermaid .edgePaths {
  filter: invert(1) !important;
}

.theme-dark .mermaid polygon,
.theme-dark .mermaid circle,
.theme-dark .mermaid .node rect,
.theme-dark .mermaid rect.basic.label-container {
  filter: brightness(0.8);
}

.theme-dark .mermaid path:is(.flowchart-link, .transition) {
  stroke: var(--text-normal) !important;
  filter: contrast(0.2) brightness(0.2) !important;
}

.theme-dark .mermaid path:is(.relationshipLine) {
  filter: contrast(0.2) brightness(1.4) !important;
}

.mermaid circle:is(.actor-0, .actor-1, .actor-2, .actor-3) {
  fill: var(--mer-actor0) !important;
}

.mermaid circle.actor-1 {
  filter: hue-rotate(-70deg) !important;
}

.mermaid circle.actor-2 {
  filter: hue-rotate(-140deg) !important;
}

.mermaid circle.actor-3 {
  filter: hue-rotate(-210deg) !important;
}

/* fixed colors */
/* gantt */
.theme-dark .mermaid rect:is(.done0, .done1, .done2, .done3) {
  fill: #8d8d8d !important;
}

.mermaid circle.face {
  fill: yellow !important;
}

.mermaid path#node-undefined>tspan {
  fill: var(--mer-node-lbl) !important;
}

.theme-dark .mermaid .lineWrapper line {
  stroke: white !important;
}

.theme-dark .mermaid .slice {
  fill: var(--mer-node-lbl) !important;
  text-shadow: 0 0 white !important;
}

.theme-dark .mermaid tspan.text-inner-tspan {
  fill: var(--mer-node-lbl);
}

.mermaid g:is(.taskWrapper, .eventWrapper) text {
  fill: var(--mer-node-lbl) !important;
}

.mermaid .quadrant text {
  fill: var(--mer-node-lbl) !important;
}

.mermaid text.sequenceNumber {
  stroke: var(--mer-node-lbl);
}

.mermaid text.tag-label {
  fill: var(--mer-node-lbl) !important;
}

.mermaid .gitTitleText {
  transform: translateY(-10px);
}

/* 
Pdf 
*/
@media print {

  .print .mermaid .edgeLabel {
    color: black !important;
  }

  .print .mermaid .node path,
  .print .mermaid .node polygon,
  .print .mermaid .node circle,
  .print .mermaid rect.reqLabelBox {
    fill: #a8cce7 !important;
  }

  .print .mermaid .node rect,
  .print .mermaid rect.basic.label-container,
  .print .mermaid :is(rect.req.reqBox, rect.actor) {
    fill: #e8e8e8 !important;
  }

  .print .mermaid rect.er.attributeBoxOdd {
    fill: white !important;
  }

  .print .mermaid .cluster rect {
    fill: rgba(150, 150, 150, 0.2) !important;
  }

  .print .mermaid .person-man rect {
    filter: brightness(2.4) saturate(0.4) !important;
  }

  .print .mermaid path.pieCircle {
    stroke: transparent !important;
  }

  .print .mermaid circle.pieOuterCircle {
    stroke: white !important;
  }

  .print .mermaid span.edgeLabel {
    background: white !important;
  }
}
