@charset "UTF-8";
/* @settings

name: DUNE - Plugin-Support
id: obsidian-plugins
settings:
  -
    id: show-dataview
    title: Dataview 
    description: Author ~ Blacksmithgu
    type: class-toggle
    default: false
  -
    id: show-dataview-blocks
    title: Dataview max block height
    description: Author ~ Blacksmithgu
    type: class-toggle
    default: false
  -
    id: show-kanban
    title: Kanban 
    description: Author ~ mgMeyers
    type: class-toggle
    default: false
  -
    id: show-svelte-cal
    title: Calendar 
    description: Author ~ Liam Cain
    type: class-toggle
    default: false
  -
    id: show-Full-Calendar
    title: Full Calendar 
    description: Author ~ Davis Haupt
    type: class-toggle
    default: false
  -
    id: show-dice-roller
    title: Dice Roller  
    description: Author ~ Jeremy Valentine
    type: class-toggle
    default: false
  -
    id: show-HKcode-styler
    title: HKcode Styler 
    description: Author ~ Heekang Park
    type: class-toggle
    default: false
  -
    id: show-cardview-switcher
    title: Cardview Switcher 
    description: Author ~ qawatake
    type: class-toggle
    default: false
  -
    id: mobile-tweaks
    title: "Mobile"
    description: Tel, Tablet
    type: heading
    level: 1
    collapsed: true
  -
    id: show-obsidian-camera
    title: Obsidian Camera (Mobile)
    description: Author ~ Aldrin Jenson
    type: class-toggle
    default: false
  -
    id: show-commander
    title: Commander 
    description: Author ~ Jonny & phibr0
    type: class-toggle
    default: false
*/

/* 
  -
    id: show-time-ruler
    title: Time Ruler 
    description: Author ~ Joshua Tazman
    type: class-toggle
    default: false
*/

/*----------------------------------------------------------------
Dune PLUGIN SUPPORT
----------------------------------------------------------------*/

/* body {
  --text-accent-special: #0080ff;
  --soft-shadow: rgba(0, 0, 0, 0.1);
  --light-tone: white;
  --dark-tone: black;
} */

/* vertical tabs */
.obsidian-vertical-tabs-container .tree-item.is-tab-slot .tree-item-self:not(:hover) {
  height: 26px;
  padding: revert;
}

/* 
cal - Do 3. Okt 14:03:51 CEST 2024 
*/

.theme-light.show-svelte-cal .year.svelte-1vwr9dd.svelte-1vwr9dd,
.theme-light.show-svelte-cal .today.svelte-q3wqg9 {
  color: darkred;
}

.theme-dark.show-svelte-cal .year.svelte-1vwr9dd.svelte-1vwr9dd,
.theme-dark.show-svelte-cal .today.svelte-q3wqg9 {
  color: red;
}


/* 
Full Calendar 
*/

.show-Full-Calendar .fc-icon {
  height: 0;
  line-height: 0;
}

.show-Full-Calendar .fc .fc-button {
  line-height: 0;
}


/* 
dataview - Do 16. Jan 20:00:54 CET 2025
*/

th.svelte-pcimu8:nth-child(odd) {
  background-color: var(--table-header-border-color);
  color: navajowhite;
}

table.dataview.table-view-table th,
table.dataview.table-view-table thead tr>th:nth-child(2n+2) {
  color: revert;
  background: revert;
}

.today.svelte-q3wqg9 {
  font-weight: bold;
}

/* head transparent */
.show-dataview .block-language-dataview progress {
  --background-secondary: transparent;
}

/* head aligned to left */
.show-dataview .block-language-dataview th.table-view-th {
  text-align-last: justify;
}

/* body:is(.uniform-width).show-dataview .block-language-dataview .table-view-table {
  width: 100%;
} */

/* spacing */
.show-dataview .callout .block-language-dataview table {
  margin-bottom: 0 !important;
  margin-top: 0;
}

/* use max width */
.show-dataview div[data-callout="mehrspaltig"].callout>.callout-content :is(.markdown-rendered blockquote),
.show-dataview div[data-callout="multi-column"].callout>.callout-content :is(.markdown-rendered blockquote) {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.show-dataview .block-language-dataview table th:first-of-type {
  border-top-left-radius: 0px;
}

.show-dataview .block-language-dataview table th:last-of-type {
  border-top-right-radius: 0px;
}

/* limit max height if not hover */
.show-dataview-blocks .block-language-dataview.node-insert-event:not(:hover) {
  height: 14vh;
}

.show-dataview-blocks .block-language-dataview.node-insert-event:hover {
  animation: shutter 0.2s ease-out;
}

@keyframes shutter {
  from {
    height: 14vh;
  }

  to {
    height: 25vh;
  }
}

/* 
kanban - Do 3. Okt 14:02:20 CEST 2024 
*/

.show-kanban .kanban-plugin__item {
  border: 0;
}

.show-kanban .kanban-plugin__item-button-wrapper {
  border-top: 0;
}

.show-kanban .kanban-plugin__lane-header-wrapper {
  border-bottom: 0;
}

.show-kanban button.kanban-plugin__new-item-button:hover {
  color: var(--text-normal);
}

.theme-light.show-kanban .kanban-plugin__lane {
  background-color: rgba(0, 0, 0, 0.1);
}

.theme-dark.show-kanban .kanban-plugin__lane {
  background-color: rgba(255, 255, 255, 0.1);
}

.show-kanban button.kanban-plugin__new-item-button {
  color: inherit;
}


/* 
dice roller
*/

.show-dice-roller .dice-roller.no-icon {
  display: contents;
}

.show-dice-roller .dice-roller.has-embed .internal-embed {
  padding: 0;
}


/* 
card view switcher - 3yo
*/

.show-cardview-switcher .modal-background.svelte-qhdq3h {
  position: fixed;
}


/* 
HK code styler - Do 3. Okt 14:01:35 CEST 2024
*/

.show-HKcode-styler .hk-codeblock-linenos.show-splitter>* {
  display: block;
}

.show-HKcode-styler .hk-codeblock pre code.hk-codeblock-code {
  background-color: transparent;
  color: inherit;
}

.show-HKcode-styler .hk-codeblock pre {
  border-radius: 4px;
}

.show-HKcode-styler .hk-codeblock.hk-codeblock-show-copybtn pre .copy-code-button {
  font-size: 0;
}

.show-HKcode-styler .app-container pre.language-br:not(.hk-codeblock-linenos.show-splitter) {
  visibility: hidden;
}

.show-HKcode-styler .hk-codeblock.hk-codeblock-show-linenos pre:is([class="memo"], [class*="sterne"], [class*="stars"], [class*="fade"], [class*="wave"], [class*="trenner"], [class*="deko"]) .hk-codeblock-linenos.show-splitter {
  visibility: hidden;
}

.show-HKcode-styler .hk-codeblock pre:is([class*="sterne"], [class*="stars"]) {
  display: block;
}

/* 
Excalidraw
uses its own dark theme
*/
/* .theme-light .excalidraw .dropdown-menu .dropdown-menu-container,
.theme-light .excalidraw .sidebar-tabs-root,
.theme-light .excalidraw .App-menu__left,
.theme-light .excalidraw .App-toolbar,
.theme-light .excalidraw .Island {
  background: var(--background-primary);
} */

/* , [class*="fade"], [class*="wave"], [class*="trenner"], [class*="deko"] */
/*------------------------------------------------------
 MOBILE
------------------------------------------------------*/
/*
commander 
*/

.show-commander .is-phone .cmdr-setting-modal>.modal {
  height: revert;
  width: revert;
}


/* 
obs camera (mobile) 
*/

.show-obsidian-camera .modal input[accept="image/*,video/*"]::before {
  content: "\1F4F9";
}

.show-obsidian-camera .modal input[accept="image/*"]::before {
  content: "\1F4F7";
}
